<%- include("header.ejs")%>

    <div id="container">
    <h1>Ändra min toto:</h1>
    <div id=box>
    <form action="/edit/:id" method="post">
        <input type="text" name="text" value="<%=response.text%>">
        <input type="text" name="_id" value="<%=response._id%>" hidden>
        <button type="submit">Uppdatera</button>
    </form>
    </div>
    </div>

