<%- include("header.ejs")%>

<body>
<div id="container">
    <h1>My todo</h1>
    <form action="/todolist" method="POST">
        <input type="text" name="text" placeholder="My new todo" id="input">
        <button type="submit">Lägg till</button>
    </form>
    <!--Loopa igenom findAllTodos -->
    <% findAllTodos.forEach( (oneTodo)=>{ %>
        <div id=box>
        <span id="ontodo"><%= oneTodo.text%></span>
            <a href="/edit/<%= oneTodo._id%>"><i class="fas fa-pen"></i></a>
            <a href="/delete/<%= oneTodo._id%>"><i class="fas fa-trash"></i></i></a>
        </div>
    <% }); %>
</div>   
</body>
</html>